 <div id="datetimeblock">

 {% if timeupdated %}
 <h1>Date/Time is : {{ timeupdated }}</h1>
 {% endif %}

{% if country %}
 <h1>Your Country: {{ country }}</h1>
 {% endif %}

 {% if city %}
   <h1> Your City: {{ city }}</h1>
 {% endif %}
</div>